
  <div class="globalContainer">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <div>
            <img class="img-logo" src="../../../assets/imgAnderson//anderson-enocs-morillo-guzman-filosofia.png">
          </div>
        </a>
        <button class="navbar-toggler" type="button" 
        data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#products">Acerca de</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#drummers">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <main class="main-info">
      <div class="container">
        <div class="row">
          <div class=" col absolute-title">
            <h3 alt="Anderson Enocs Morillo Guzman">La instancia del ser</h3>
          </div>
        </div>
     
 
        <div class="row container-about">
          <div class="col">
            <div class="container-about-text">
              <h1><span>La crisis de la humanidad </span>y la llamada a reconectar con la naturaleza</h1>
              <p style="margin-top: 10px;">
                Desde hace un Tiempo ha estado en mí la inquietud, el llamado, 
                o la influencia de mi inconsciente, por un aspecto de la humanidad, el mundo, y la naturaleza, 
                como se ha degradado su integridad, su esencia, esto es evidente la crisis que presenta la humanidad, 
                el planeta, la naturaleza, he querido resaltar con relación a esta expresión de mi espíritu las 
                importantes palabras de los sabios, una gran colección de comunicaciones del inconsciente
                colectivo de los sabios, o el arquetipo de la sabiduría, como lo expreso Carl Gustav Jung, 
                los sabios a través de los tiempos han intentado comunicar el fin del hombre; el efecto de
                su insensatez, por negar la belleza más grande del ser, o el pequeño cosmos; esta belleza 
                es la manifestada en las virtudes naturales del ser humano, dando el paso a la ausencia del sentido
                común y otros aspectos del orden natural, interesándose más por este modelo de hombre industrial 
                como lo ha expresado el sabio Gastón Soublette el cual he querido darle el honor de ser la imagen de 
                la portada de este artículo. El hombre ha negado la vida, por eso hago este artículo prefiriendo no
                decir mi nombre, sino más bien dándole acentuación a los honorables sabios y su alta variedad de trabajo, 
                ya pareciera que todo se ha dicho.
              </p>
          </div>
          </div>
             
          <div class="col">
              <div class="main-info">
                <div class="img-container">
                  <img src="../../../assets/imgAnderson/anderson-enocs-morillo-guzman.jpg" alt="Anderson Enocs Morillo Guzman">
                </div>
              </div>
          </div>
             
        </div>
      </div>

    </main>
  
    <article class="overlay-section">
      <div class="overlay">
        <div class="container">
          <h3>La principal perla desechada del ser.</h3>
          <h2>Bienaventurados los humildes de espíritu pues ellos heredarán la tierra."</h2>
          <p>Cuando pienso en la humildad, pienso en ello como si ella completara la
            belleza final de un alma, es como ver un paisaje donde entre montañas y 
            Formas y matices del clima, donde detrás de todo se encuentra el complemento más extenso que 
            lo contrasta; el cielo azul, donde justamente terminas diciendo: "¡Qué paisaje más hermoso!!", 
            Así es esta idea de como se ve el hombre cuando ha alcanzado la humildad de espíritu,
            el final del comentario directo de Dios desde esa montaña, termina diciendo la tierra será de ellos; 
            los pobres de espíritu.
         </p>
        </div>
      </div>
    </article>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="480000">
      <ol class="carousel-indicators" style="margin-bottom: 30px;">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../assets/naturaleza/naturaleza-anderson-guzman-5.jpg" alt="Sonor Drum set">
          <div class="carousel-caption d-none d-md-block">
            <h5>Bueno antes de dar el paso a el articulo de reafirmacion y reforzamiento a los sabios y su filosofia, desearia dar a conocer un poco 
              sobre una especie de vision y concepto que observe de la vida. Naci en Venezuela estado Aragua en el municipio maracay; en mi origen
              provengo de una ciudad pero luego de cuatro anos por asunto de disencion en el matrimonio de mi madre y mi padre que en efecto hubo
              separacion llegando al divorcio, no pasando mucho tiempo nos mudamos mi madre y mi hermana para Chirgua un pequeño pueblo de tipo valle
              de otro estado no muy lejos, este es el Estado Carabobo, Quiero agregar que fue el mejor lugar donde un nino pudo haber vivido, esta es
              mi opinion personal acerca de este Valle, una gran y extensa libertad y felicidad constante tuve en mi nines, hice muchos amigos, nunca 
              paraba de jugar. Mi madre Gladyz Guzman, una gran luchadora, que buscaba el pan para nosotros dia tras dia, conforme a su instinto y su inteliegnecia
              para resolver las necesidades de nuestro hogar, ella era muy humilde en su espiritu pero siempre ha sido muy fuerte aunque era de poca letra
              y sin profesion todo esto debido a la ausencia de orientacion por falta de su padre y la perdida de su madre cuando aun era una bebe, 
              su vida en efecto se torno dura y en algunos aspectos desequilibrada, eso hizo que ciertas tomas de decisiones no hallan sido con sabiduria. 
              no obstante vivia con mi madre en una casa muy pequena junto con mi hermana un ano menor que yo, creci practicamente en este lugar Chirgua 
              solo volvi a Maracay cuando estuve los primeros anos en bachillerato, pero luego regrese a seguir estudiando el Bachillerato en el intituto 
              Paramaconi. Una razon para hacer saber el por que de mi pensamiento y la defensa de todo este tema social, cultural
              y humano que vive el mundo entero, de una manera un poco dificil de explicar como de una forma inmersa en mi mente, claro si buscamos definirlo lo
              mas subjetivamente me ha comunicado el insconciente o desde el cielo me ha influenciado como de una forma espiritual varias cosas, Pienso en que
              un nino de tan solo 4 anos miraba al cielo siempre esperando respuestas, aunque tambien hacia mucha preguntas, siempre fui una persona muy sociable
              y extrovertido, pero en asuntos de placeres y acciones no virtuosas siempre fue introvertido hablo desde muy nino hasta la pubertad, estoy claro de que la razon
              fue por respeto a esta cierta instancia suprema de mi ser, que de una forma como dije anteriormente inmersa dentro de mi, me indicaba que debia y que no debia hacer.
              si este pensamiento se sale un poco o por mucho de alpecto causal y entra al mismo tiempo en ambitos de sincrinicidad por esta misma razon tengo mucho que preguntar a
              Gaston Soublette si tuviera la oportunidad.</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/imgAnderson/cedro-anderson-enocs.jpg" alt="Roland drum set">
          <div class="carousel-caption d-none d-md-block">
            <h5>Reconociendo que los ninos tienen un gran grado de pureza, esto me hace reflexxionar en la atencion que todos los ninos
              le daban a la naturaleza; como los largos dias de lluvias, como la esperaban anciosamente para correr en sus corrientes por las calles, las aceras, cuando
              caian las elices del fruto del cedro para alcanzarlos, cunado usabamos las hojas de la mata de gallena para a contar todo esto y mucho mas, esto nos da ententder
              que la esencia de nuestro ser en su punto mas puro esta ligado a la naturaleza y no solo eso sino que la anhela, lo que me llama la atencion de la naturaleza,
              es lo  dadivosa que e con nosotros, Pero cuando inicia la llamada etapa de la pubertad me doy cuenta que existe una aglomeracion de conceptos y argumentos e realizacion
              y el instinto de la bestia que empieza a despertar este deseo sexual y otros impulsos menores nos podemos percatar que se abre una puerta donde el individuo 
              comienza a desarrollar la vision a futuro, claro la velocidad evolutiva de este proceso es dependiendo de la influencia de sus modelos de hombre o mujer mas cercanos,
              Estos pueden ser padre, madre, hermanos, tios, abuelos y tambien la idiosincracia colectiva del entorno  del joven, porque el adolecente con mejor orientacion siempre
              de tomar deciciones mas ventajosas debido a los conociminetos de la vida dadas por otros que ya lo vivieron, Pero debo manifestar que tambien veo otra puerta que se abre  desapersivida
              en la mayoria de los seres humanos; y esta es la puerta de la influencia del modelo de hombre industrial, este hombre que acaba con el orden natural, que esta enfocado solo en involucrarse
              en los aspectos de la innovacion, dejando por completo la virtud de la humanidad que solo se preocupa por el poder, que solo por alcanzarlo no le importa acabar con un arbol, 
              dejar en poco al hombre, destruirlo, se aferra facilmente a la tecnologia como su fuera el oxigeno de su progreso. Esta es mi defensa es muy evidente que este modelo de hombre ha perdido
              el verdadero sentido comun. gracias</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/imgAnderson/gaston-soublette-file-anderson-enocs.jpg" alt="Ludwing drum set">
          <div class="carousel-caption d-none d-md-block">
            <h5>Por Gastón Soublette Asmussen. Hay momentos en la vida en que es preciso esperar, no adelantar ni meter la mano; tan sólo dejar que las corrientes de la vida vayan dando
               forma a las cosas. Hay otros momentos en que no es prudente dilatar la espera sino tomar la decisión y actuar sin más. Hay otros momentos en que nos damos cuenta de que los
                acontecimientos que nos comprometen a todos, desde hace mucho tiempo vienen gradualmente cargándose de gravedad y peligrosidad hasta volverse amenazantes. Cuando la virtud 
                y la sabiduría parecen haber desaparecido del mundo, mientras una moral hipócrita y una ideología insensata ocupan su lugar. Cuando la injusticia y la corrupción lo invaden
                 todo y el orden mundial amenaza ruina, mientras se elevan los más altos rascacielos y el quehacer humano degenera en un puro negocio de consumo y tecnología y una minoría
                  exitosa y despiadada acapara la mayor parte de la riqueza del mundo. Cuando ochocientos millones de seres humanos no tienen acceso al agua y sesenta millones de ellos
                   perecen al año de inanición. Cuando se desata en todas las latitudes el espiral de la violencia delictiva y terrorista y, a causa del crecimiento industrial,
                    se contaminan los aires y las aguas y se desarticula el ecosistema del mundo alterando el clima y provocando catástrofes de creciente poder que ponen en riesgo
                     la supervivencia de la especie humana. En esos momentos, lo que corresponde hacer es movilizar la suficiente fe y el suficiente coraje como para enfrentar la evidencia
                      de que ya no podemos seguir nuestro trajín habitual por calles interminables como si aún quedara tiempo disponible para continuar aguantando ese rutinario día a día.
                       Porque hay momentos en que tú necesitas encontrarte a ti mismo entre tantos extraños y caer en la cuenta de quién eres realmente en ese contexto, y sin creerte un iluminado,
                        reconocer, sin embargo, que una porción de espíritu te ha sido dada, y que eso, es decir el misterio, es lo que te hace vivir. Eso está por sobre tus faltas y caídas,
                         porque si bien no puedes decir con certeza cómo será ese mundo que deseas para ti y los tuyos, estás seguro, sí, de que no perteneces a este mundo de amos y esclavos
                          del dinero, que no tienes cuota alguna de poder para explotar a otros ni deseas alterar y manipular la naturaleza para sacar provecho de ella en desmedro de otros
                           y de la vida misma. Pero esa porción de espíritu que te ha sido dada no tiene nada que ver con tu esfuerzo ni con tus talentos. Es un don gratuito del cielo que
                            es preciso cultivar y agradecer. No es que vaya a haber un juicio final... el juicio hace ya mucho tiempo que empezó, mientras dormíamos. Hoy nos hallamos en medio
                             de sus más acalorados alegatos. Pero, aunque no sepamos quiénes son ahí nuestros acusadores, ni nuestros jueces ni defensores, su finalidad se está cumpliendo,
                              esto es, separa a los unos de los otros. No se trata de buenos o malos, porque ocurre que todos somos fallados, y si de escoger se trata, sería preferible quedar
                               entre los malos, porque a todas luces los buenos son “ellos”, y si te arrimas mucho a su tribuna puedes contagiarte con su bondad, perder tu identidad y volverte
                                un peligro para la sociedad. La verdad es que en este juicio se trata sólo de quienes aman y de quienes ganan. Así de simple. A ellos se les ve muy bien concertados.
                                 Son vivaces y seguros, como dice el Viejo Chino, porque son ellos los que hacen progresar al mundo.</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/imgAnderson/mapuche-anderson-enocs-file.jpg" alt="SJC drum set">
          <div class="carousel-caption d-none d-md-block">
            <h5>Pero algo les está saliendo mal en el ejercicio del poder que
              detentan desde hace más de dos siglos, porque ocurre que so pretexto de mejorar lavida están obteniendo frutos de muerte que ya no pueden disimular. Por eso ahora 
              alzan la voz previendo un probable Apocalipsis, para enseguida consolarnos con la buena nueva de que el mismo sistema que nos llevó al desastre es el que puede salvarnos
               del colapso, pero a condición de que sus ganancias no sufran menoscabo. En cambio, a los otros se los ve muy desconcertados, en nada seguros ni vivaces, viviendo en los
                nichos de existencia, modos de hacer, espacios mentales y economías que otros les han fijado. Da la impresión de que los tienen cogidos por el cuello, porque “ellos”
                 parecen haber ganado al fin su guerra... Un triunfo bastante poco honroso, hay que decir, porque a pesar de todas las precauciones que tomaron, el fermento letal
                  que pusieron en su obra sube ahora a la superficie a la vista de todos. Pero ¡cuidado! Este es precisamente el momento de la gran tentación, porque si bien no se escucha,
              ya todos dicen para sí: ¡Sálvese quien pueda! Cuando el carpintero de Nazareth les dice a sus discípulos: “Velad y orad para no caer en tentación”, la noche de su aprehensión,
               se está refiriendo a la tentación de echar pie atrás, al ver, sin entender, que el maravilloso Maestro, capaz de resucitar muertos, es materialmente enemigos.
                Porque en lo que a “ellos” se refiere, bien sabido es que hacen lo que quieren con las masas indefensas, hacen lo que quieren con los árboles, la tierra, los ríos,
                 lagos y glaciares; hacen lo que quieren con el patrimonio. Ellos moldean la opinión pública a su antojo, envían ejércitos a aniquilar pueblos enteros so pretexto
                  de liberarlos. Así puede el mundo volver a ver cómo se acusa, se humilla, se flagela y se crucifica al modelo del Hombre, ese que todos llevamos dentro como una 
              posibilidad siempre cierta de ser algo más que eso que somos, posibilidad que “ellos” han procurado cerrarnos desde siempre, porque son los peores enemigos de nuestro
               Cristo que se han visto en la historia, desde aquellos césares antiguos de todos conocidos. Es entonces que se impone para ti dar un vuelco de conciencia y entender 
               que tu aparente impotencia ante su poder es también un poder, y más aún, que por esa porción de espíritu que tienes dentro eres invencible, en la medida que quieras
                darte cuenta de eso y resistas hasta el fin. Eso es lo que se llama fe, y si por la fe eres invencible, es porque la fe se comparte, y si alguna luz obtienes 
                de tu porción de espíritu, es porque ella no te pertenece, porque es del cuerpo de fraternidad que tú integras con otros para humanizar la tierra. Ahora que
                 has leído esto, piensa que algo quedó atrás definitivamente, aunque por el momento no se note; y eso que has dejado atrás es la contaminación que sufrió tu alma
                  por el dominio que “ellos” han ejercido sobre nosotros hasta lograr imponernos sus criterios de verdad sobre las cosas y los hombres. Por eso tu vuelco de conciencia
                   consiste en revalorar lo que ya tienes, eso que ellos simulan ignorar desde siempre porque le temen</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/imgAnderson/carl-gustav-jung-anderson-enocs.png" alt="Lummier drum set">
          <div class="carousel-caption d-none d-md-block">
            <h5>Donde reina la sabiduria no habra conflicto entre pensar y sentir, la fluides y el sonido de esta expresion casi la persibi como una hermosa cancion, 
              se destaca la importancia de la sabiduría para lograr la armonía entre el pensamiento y el sentimiento, ahora hare notar la filosofia de carl gustav jung.</h5>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  
    <div class="our-drummers" id="drummers">
      <h2>Our Drummers</h2>
      <!-- <div class="divider"></div> -->
  
      <div class="containerGalery">
        <div class="row">
          <div class="col-3 container-card">
            <a href="./img/drummers/vinnie.jpeg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Vinnie" />
            </a>
          </div>
          <div class="col-3 container-card">
            <a href="./img/drummers/portnoy.jpg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Mike Portnoy" />
            </a>
          </div>
          <div class="col-3 container-card">
            <a href="./img/drummers/tomas'.jpg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Tomas Lang" />
            </a>
          </div>
          <div class="col-3 container-card">
            <a href="./img/drummers/tomas'.jpg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Tomas Lang" />
            </a>
          </div>
          <!-- Add more gallery items as needed -->
        </div>

         <div class="row">
          <div class="col-3 container-card">
            <a href="./img/drummers/vinnie.jpeg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Vinnie" />
            </a>
          </div>
          <div class="col-3 container-card">
            <a href="./img/drummers/portnoy.jpg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Mike Portnoy" />
            </a>
          </div>
          <div class="col-3 container-card">
            <a href="./img/drummers/tomas'.jpg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Tomas Lang" />
            </a>
          </div>
          <div class="col-3 container-card">
            <a href="./img/drummers/tomas'.jpg">
              <img src="../../../assets/imgAnderson/anderson-and-mujer.jpg" width="100%" height="100%" alt="Tomas Lang" />
            </a>
          </div>
          <!-- Add more gallery items as needed -->
        </div>
      </div>
    </div>

    
  
  
    <div class="contact" id="contact">
      <form class="container-form">
        <h2>Keep in Touch</h2>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Subject">
        <textarea placeholder="Message">Message...</textarea>
        <button class="btn-info">Send Message</button>
      </form>
    </div>
  
    <footer class="footer">
      
      <div class="container">
        <div class="social-media">
          <h3>Xk-Drums</h3>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/xkweb/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="info">
        <h3>Company info</h3>
        <ul >
          <li><a href="#home">Home</a></li>
            <li><a href="#products">Gallery</a></li>
            <li><a href="#drummers">Drummers</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="blog">
        <h3>Blog</h3>
        <ul>
          <li><a href="#">Blog 1</a></li>
          <li><a href="#">Blog 2</a></li>
          <li><a href="#">Blog 3</a></li>
          <li><a href="#">Blog 4</a></li>
        </ul>
      </div>
      </div>
    </footer>
  </div>
  
