
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #333;
    --secondary-color: #444;
    --alt-color: #af3231;
    --overlay: rgba(0,0,0,0.8);
    --container-width: 90vw;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /*my estilo nuevo*/
  .navbar {
    background: BLACK; /* Vinotinto color */
    height: 4rem;
  }

  .navbar-brand .img-logo {
    background-color: white;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px !important;
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    color: #fff; /* White color */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* White color */
  }
  
  .navbar-toggler {
    border: none;
  }
  /* end style new*/
  
  .nav {
    background: none;
    box-shadow: none;
    padding-top: 2em;
  }
  
  .material-icons {
    color: #000;
    margin-left: -.9em;
  }
  
  .container {
    margin: 0 auto;
    overflow: hidden;
    padding: 0 2rem;
    width: var(--container-width);
  }

  .container .container-subtitle-header {
    background: var(--alt-color);
  }
  
  .menu a {
    color: var(--primary-color);
  }
  
  .menu a:hover {
    background-color: var(--alt-color);
    color: #fff;
  }
  
  .container {
    margin-top: 4rem;
    height: 80vh;
    width: var(--container-width);
    align-items: center;
  }

  .container-about {
    margin-top: 5rem;
  }

  .container-about-text {
    width: 500px;
    max-width: 500px;
    margin: 0 auto; 
    padding: 16px;
    text-align: center; 
  }
  
  .absolute-title {
    display: flex;
    justify-content: center;
  }
  .absolute-title h3 {
    font-size: 7em;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
  }
  
  .main-info {
    width: 100%;
    max-height: 100%;
    max-width: 100%; /* ajusta el ancho máximo según tus necesidades */
  }
  
  .main-info .img-container {
    width: 90%;
    height: 60%;
    overflow: hidden;
  }
  
  .main-info .img-container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 7px;
  }
  
  h1 {
    font-weight: bold;
  }
  
  .main-info span {
    color: var(--alt-color);
  }
  
  .main-info p {
    margin-bottom: 1em;
  }
  
  .btn-info {
    background-color: var(--primary-color);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-info:hover {
    background-color: var(--alt-color);
  }
  
  .overlay-section {
    background-image: url(../../../assets/imgAnderson/socrates-from-anderson-enocs-morillo-guzman.webp);
    background-size: cover;
    background-attachment: fixed;
  }
  
  .overlay {
    height: 67vh;
    background-color: var(--overlay);
  }
  
  .overlay .container {
    color: #fff;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .overlay .container h3 {
    font-weight: lighter;
  }
  
  .overlay .container h2 {
    font-size: 5rem;
    text-align: center;
  }
  
  .overlay .container p {
    text-align: center;
    font-weight: lighter;
    font-size: 1.2rem;
  }
  
  .products {
    height: 80vh;
    width: 100vw;
  }
  
  .product-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1em;
    padding-top: 2em;
  }
  
  .divider {
    width: 200px;
    height: 5px;
    background-color: var(--alt-color);
    margin: 0 auto;
  }
  
  .carousel {
    height: 90vh;
    margin: 0 auto;
  }
  
  .carousel .carousel-item {
    max-width: 100%;
    height: auto;
  } 

  .carousel-caption {
    text-align: center;
  }
  
  .carousel .carousel-item img {
    height: 550px;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  
  .carousel .carousel-item h5 {
    text-align: center;
  }
  
  .skew {
    margin-top: 15rem;
  }
  
  .our-drummers {
    background-color: #000;
  }
  
  .our-drummers h2 {
    text-align: center;
    color: #fff;
    margin-top: -.2em;
  }
  
  .gallery {
    margin-top: 7em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .gallery a:first-child {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  
  .gallery a:nth-child(2) {
    grid-column: 3/5;
  }
  
  .gallery a, 
  .gallery img {
    width: 100%;
    height: 100%;
  }
  
  
  .contact {
    background-image: url(../../../assets/imgAnderson/anderson-enocs-morillo-guzman.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
  }
  
  .container-form {
    padding: 5em 3em;
    width: 40%; 
    display: flex;
    flex-direction: column;
  }
  
  .container-form textarea {
    height: 15em;
    color: #fff;
    padding: 1em;
  }
  
  .container-form button {
    margin-top: 2em;
  }
  
  
  .footer {
    background-color: #000;
    color: #fff;
    padding: 4rem 0;
  }
  
  .footer h2 {
    text-align: center;
  
  }
  
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  
  .social-media .fab {
    margin-right: 20px;
    font-size: 2em;
    color: var(--alt-color);
  }
  
  .social-media .fab:hover {
    color: var(--primary-color);
  }
  
  .info a,
  .blog a {
    color: var(--alt-color);
  }
  
  
  @media screen and (max-width: 1020px) {
    h1 {
      font-size: 3rem;
    }
    
    .absolute-title h3 {
      font-size: 6rem;
    }
  
    .overlay-section .overlay h2 {
      font-size: 2.5rem;
    }
    
    .carousel .carousel-item img {
      width: 500px;
      height: 400px;
    }
  
    .container-form {
      padding: 5em 3em;
      width: 55%; 
      display: flex;
      flex-direction: column;
    }
    
    .container-form textarea {
      height: 15em;
      color: #fff;
      padding: 1em;
    }
    
  }
  
  
  @media screen and (max-width: 920px) {
  
    .absolute-title h3 {
      display: none;
    }
  
    .main-info .container {
      grid-template-columns: repeat(1, 1fr);
      height: auto;
      padding-bottom: 3em;
      margin-top: 3em;
    }
  
  }
  
  @media screen and (max-width: 700px) {
    .main-info .container {
      display: flex;
      flex-direction: column-reverse;
    }
    .footer h3,
    .info h3,
    .blog h3 {
      font-size: 1.5em;
    }
  
  }
  
  
  @media screen and (max-width: 600px) {
    .drummers .gallery {
      display: flex;
      flex-direction: column;
    }
    
    .container-form {
      width: 80%; 
    }
  
    .social-media {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .social-media .fab {
      font-size: 1.2em;
      margin-top: .5em;
    } 
  
  
  }